<main class="container">
    <h3 class="text-center">Complete Report</h3>

    <div class="search-result row-flex flex-between">
        <article class="flex-cntr column-flex">
            <h4>Report ID: @DatabaseManagement.SelectedReport.Id</h4>

            <label>Address:</label>
            <p>@DatabaseManagement.SelectedReport.Address</p>

            <label>Coordinates:</label>
            <p class="flex-wrap">@DatabaseManagement.SelectedReport.DisplayCoords()</p>


            <label>Reportee Contact Info:</label>
            <p>@DatabaseManagement.SelectedReport.Email, @DatabaseManagement.SelectedReport.PhoneNumber</p>

            <label>Description:</label>
            <p>@DatabaseManagement.SelectedReport.Description</p>


            <label>Date and Time Reported:</label>
            <p>@DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[1], @DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[0]</p>
        </article>
        <aside class="search-result-btn-cntr" id="confirm-complete-btn">
            @using (Html.BeginForm("ConfirmComplete", "DatabaseManager"))
            {
                <button class="btn" name="completeReport" type="submit" value="@DatabaseManagement.SelectedReport.Id">Confirm Completion</button>
            }
        </aside>
    </div>
</main>