<main class="container">
    <h3 class="text-center">Complete Report</h3>

    <article class="search-result row-flex flex-between" method="post">
        <section class="flex-cntr column-flex">
            <label>Address:</label>
            <p>@DatabaseManagement.SelectedReport.Address</p>

            <label>Coordinates:</label>
            <p>@DatabaseManagement.SelectedReport.Coordinates</p>


            <label>Reportee Contact Info:</label>
            <p>@DatabaseManagement.SelectedReport.Email, @DatabaseManagement.SelectedReport.PhoneNumber</p>

            <label>Description:</label>
            <p>@DatabaseManagement.SelectedReport.Description</p>


            <label>Date and Time Reported:</label>
            <p>@DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[1], @DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[0]</p>
        </section>
        <aside class="search-result-btn-cntr" id="confirm-complete-btn">
            @using (Html.BeginForm("ConfirmComplete", "DatabaseManager"))
            {
                <button class="btn" name="completeReport" type="submit" value="@DatabaseManagement.SelectedReport.Id">Confirm Complete <i alt="Checkmark Icon" class="fas fa-check"></i></button>
            }
        </aside>
    </article>
</main>