<main class="container">
    <h3 class="text-center">Complete Report</h3>

    <div class="search-result row-flex flex-between">
        <article class="flex-cntr column-flex">
            <h4>Report ID: @DatabaseManagement.SelectedReport.Id</h4>

            @if (DatabaseManagement.SelectedReport.Address != "")
            {
                <label>Address:</label>
                <p>@DatabaseManagement.SelectedReport.Address</p>
            }

            @if (DatabaseManagement.SelectedReport.Coordinates != "")
            {
                <label>Coordinates:</label>
                <p>@DatabaseManagement.SelectedReport.DisplayCoords()</p>
            }

            @if (@DatabaseManagement.SelectedReport.HasContactInfo())
            {
                <label>Reportee Contact Info:</label>
                <p>@DatabaseManagement.SelectedReport.DisplayContactInfo()</p>
            }

            <label>Description:</label>
            <p>@DatabaseManagement.SelectedReport.Description</p>

            <label>Date and Time Reported:</label>
            <p>@DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[1], @DatabaseManagement.SelectedReport.TimeOfReport.Split(" ")[0]</p>
        </article>
        <aside class="search-result-btn-cntr" id="confirm-complete-btn">
            @using (Html.BeginForm("ConfirmComplete", "DatabaseManager"))
            {
                <button class="btn" name="completeReport" type="submit" value="@DatabaseManagement.SelectedReport.Id">Confirm Completion</button>
            }
        </aside>
    </div>
</main>